<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- 공통 패턴 설정 -->
  <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

  <!-- STDOUT 콘솔 앱렌더 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- 패키지별 로그 레벨 설정 -->
  <logger name="com.inje.apigateway" level="DEBUG"/>

  <!-- Root 로그 레벨: @Slf4j 로그 포함 -->
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>